# python pandas
### 2020/06/24 Keonwoo Park

In [129]:
import pandas as pd
import numpy as np
s= pd.Series([1,3,5,np.nan,6,8])

In [130]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [131]:
dates = pd. date_range('20200624', periods =6)
dates

DatetimeIndex(['2020-06-24', '2020-06-25', '2020-06-26', '2020-06-27',
               '2020-06-28', '2020-06-29'],
              dtype='datetime64[ns]', freq='D')

In [132]:
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns = list('ABCD'))
df

                   A         B         C         D
2020-06-24  1.221709  0.358979 -0.448183  1.195647
2020-06-25 -0.232104 -0.819940  0.418252 -2.194357
2020-06-26  0.544847 -0.241120  0.710027 -1.074795
2020-06-27  0.237233  0.548159  0.286409  1.802826
2020-06-28 -2.084822 -0.745450  0.450370 -0.226066
2020-06-29  1.204336 -0.645754 -0.217070 -0.323885

In [133]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [9]:
df.head(3)

                   A         B         C         D
2020-06-24  0.271372  1.442126  0.273614 -0.112222
2020-06-25 -0.956681 -0.909740 -1.095052  0.010003
2020-06-26  0.397187  1.000744  0.542305 -0.501581

In [11]:
df.tail(3)

                   A         B         C         D
2020-06-27  1.151664  0.726997  0.274457  0.253941
2020-06-28 -0.168201 -0.487042  0.955707 -1.118818
2020-06-29 -0.321323 -1.882982 -0.066366  0.802221

In [21]:
df.index

DatetimeIndex(['2020-06-24', '2020-06-25', '2020-06-26', '2020-06-27',
               '2020-06-28', '2020-06-29'],
              dtype='datetime64[ns]', freq='D')

In [22]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [23]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.062336 -0.018316  0.147444 -0.111076
std    0.718498  1.282044  0.697247  0.655751
min   -0.956681 -1.882982 -1.095052 -1.118818
25%   -0.283042 -0.804066  0.018629 -0.404241
50%    0.051585  0.119977  0.274035 -0.051109
75%    0.365733  0.932307  0.475343  0.192956
max    1.151664  1.442126  0.955707  0.802221

In [31]:
# 전치행렬(Transpose)
df.T

   2020-06-24  2020-06-25  2020-06-26  2020-06-27  2020-06-28  2020-06-29
A    0.271372   -0.956681    0.397187    1.151664   -0.168201   -0.321323
B    1.442126   -0.909740    1.000744    0.726997   -0.487042   -1.882982
C    0.273614   -1.095052    0.542305    0.274457    0.955707   -0.066366
D   -0.112222    0.010003   -0.501581    0.253941   -1.118818    0.802221

In [32]:
df.sort_index(axis=1, ascending = False)

                   D         C         B         A
2020-06-24 -0.112222  0.273614  1.442126  0.271372
2020-06-25  0.010003 -1.095052 -0.909740 -0.956681
2020-06-26 -0.501581  0.542305  1.000744  0.397187
2020-06-27  0.253941  0.274457  0.726997  1.151664
2020-06-28 -1.118818  0.955707 -0.487042 -0.168201
2020-06-29  0.802221 -0.066366 -1.882982 -0.321323

In [33]:
# 행단위 
df.sort_index(axis=0, ascending = False)

                   A         B         C         D
2020-06-29 -0.321323 -1.882982 -0.066366  0.802221
2020-06-28 -0.168201 -0.487042  0.955707 -1.118818
2020-06-27  1.151664  0.726997  0.274457  0.253941
2020-06-26  0.397187  1.000744  0.542305 -0.501581
2020-06-25 -0.956681 -0.909740 -1.095052  0.010003
2020-06-24  0.271372  1.442126  0.273614 -0.112222

In [34]:
# B 컬럼 오름차순 정렬-디폴트
df.sort_values(by='B')

                   A         B         C         D
2020-06-29 -0.321323 -1.882982 -0.066366  0.802221
2020-06-25 -0.956681 -0.909740 -1.095052  0.010003
2020-06-28 -0.168201 -0.487042  0.955707 -1.118818
2020-06-27  1.151664  0.726997  0.274457  0.253941
2020-06-26  0.397187  1.000744  0.542305 -0.501581
2020-06-24  0.271372  1.442126  0.273614 -0.112222

In [35]:
# B컬럼의 내림차순 정렬
df.sort_values(by='B',ascending=False)

                   A         B         C         D
2020-06-24  0.271372  1.442126  0.273614 -0.112222
2020-06-26  0.397187  1.000744  0.542305 -0.501581
2020-06-27  1.151664  0.726997  0.274457  0.253941
2020-06-28 -0.168201 -0.487042  0.955707 -1.118818
2020-06-25 -0.956681 -0.909740 -1.095052  0.010003
2020-06-29 -0.321323 -1.882982 -0.066366  0.802221

In [36]:
df.loc[dates[0]]

A    0.271372
B    1.442126
C    0.273614
D   -0.112222
Name: 2020-06-24 00:00:00, dtype: float64

In [37]:
df.loc[:,['A','B']]

                   A         B
2020-06-24  0.271372  1.442126
2020-06-25 -0.956681 -0.909740
2020-06-26  0.397187  1.000744
2020-06-27  1.151664  0.726997
2020-06-28 -0.168201 -0.487042
2020-06-29 -0.321323 -1.882982

In [38]:
df.loc['20200625':'20200626',['A','B']]

                   A         B
2020-06-25 -0.956681 -0.909740
2020-06-26  0.397187  1.000744

In [41]:
# 스칼라 값을 구하기
df.loc[dates[0],'A']

0.27137182931181403

In [42]:
# 스칼라 값을 더 빠르게 구해오는 방법
df.at[dates[0],'A']

0.27137182931181403

In [49]:
# 데이터값의 접근하기위해 위치(레이블)값으로 접근하기
# iloc[]
df.iloc[3]

A    1.151664
B    0.726997
C    0.274457
D    0.253941
Name: 2020-06-27 00:00:00, dtype: float64

In [53]:
df.loc[dates[3],:]

A    1.151664
B    0.726997
C    0.274457
D    0.253941
Name: 2020-06-27 00:00:00, dtype: float64

In [60]:
df.iloc[0,1]

1.4421261186920966

In [61]:
# 더 빠르게 스칼라 값을 가져오는 방법
df.iat[0,1]

1.4421261186920966

In [64]:
# 불리언으로 접근하기
df[df.A > 0]

                   A         B         C         D
2020-06-24  0.271372  1.442126  0.273614 -0.112222
2020-06-26  0.397187  1.000744  0.542305 -0.501581
2020-06-27  1.151664  0.726997  0.274457  0.253941

In [66]:
# 0보다 작은값은 가져올 수 가 없기 때문에 NaN값이 들어간다.
df[df > 0]

                   A         B         C         D
2020-06-24  0.271372  1.442126  0.273614       NaN
2020-06-25       NaN       NaN       NaN  0.010003
2020-06-26  0.397187  1.000744  0.542305       NaN
2020-06-27  1.151664  0.726997  0.274457  0.253941
2020-06-28       NaN       NaN  0.955707       NaN
2020-06-29       NaN       NaN       NaN  0.802221

In [67]:
# 필터링
df2 = df.copy()

In [70]:
df2['E'] = ['one','two','three','four','three','two']

In [76]:
df2[df2['E'].isin(['two', 'four'])]

                   A         B         C         D     E
2020-06-25 -0.956681 -0.909740 -1.095052  0.010003   two
2020-06-27  1.151664  0.726997  0.274457  0.253941  four
2020-06-29 -0.321323 -1.882982 -0.066366  0.802221   two

In [78]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20200624', periods = 6))

In [80]:
s1

2020-06-24    1
2020-06-25    2
2020-06-26    3
2020-06-27    4
2020-06-28    5
2020-06-29    6
Freq: D, dtype: int64

In [81]:
df['F'] = s1

In [83]:
df

                   A         B         C         D  F
2020-06-24  0.271372  1.442126  0.273614 -0.112222  1
2020-06-25 -0.956681 -0.909740 -1.095052  0.010003  2
2020-06-26  0.397187  1.000744  0.542305 -0.501581  3
2020-06-27  1.151664  0.726997  0.274457  0.253941  4
2020-06-28 -0.168201 -0.487042  0.955707 -1.118818  5
2020-06-29 -0.321323 -1.882982 -0.066366  0.802221  6

In [85]:
df.at[dates[0],'A']=0
df

                   A         B         C         D  F
2020-06-24  0.000000  1.442126  0.273614 -0.112222  1
2020-06-25 -0.956681 -0.909740 -1.095052  0.010003  2
2020-06-26  0.397187  1.000744  0.542305 -0.501581  3
2020-06-27  1.151664  0.726997  0.274457  0.253941  4
2020-06-28 -0.168201 -0.487042  0.955707 -1.118818  5
2020-06-29 -0.321323 -1.882982 -0.066366  0.802221  6

In [87]:
df.iat[0,1] = 0
df

                   A         B         C         D  F
2020-06-24  0.000000  0.000000  0.273614 -0.112222  1
2020-06-25 -0.956681 -0.909740 -1.095052  0.010003  2
2020-06-26  0.397187  1.000744  0.542305 -0.501581  3
2020-06-27  1.151664  0.726997  0.274457  0.253941  4
2020-06-28 -0.168201 -0.487042  0.955707 -1.118818  5
2020-06-29 -0.321323 -1.882982 -0.066366  0.802221  6

In [88]:
df.loc[:,'D'] = np.array([5]* len(df))
df

                   A         B         C  D  F
2020-06-24  0.000000  0.000000  0.273614  5  1
2020-06-25 -0.956681 -0.909740 -1.095052  5  2
2020-06-26  0.397187  1.000744  0.542305  5  3
2020-06-27  1.151664  0.726997  0.274457  5  4
2020-06-28 -0.168201 -0.487042  0.955707  5  5
2020-06-29 -0.321323 -1.882982 -0.066366  5  6

In [91]:
np.array([5])*3

array([15])

In [93]:
[5]*3

[5, 5, 5]

In [98]:
df2 = df.copy()

In [100]:
df2[df2>0]=-df2
df2

                   A         B         C  D  F
2020-06-24  0.000000  0.000000 -0.273614 -5 -1
2020-06-25 -0.956681 -0.909740 -1.095052 -5 -2
2020-06-26 -0.397187 -1.000744 -0.542305 -5 -3
2020-06-27 -1.151664 -0.726997 -0.274457 -5 -4
2020-06-28 -0.168201 -0.487042 -0.955707 -5 -5
2020-06-29 -0.321323 -1.882982 -0.066366 -5 -6

In [103]:
df1 = df.reindex(index=dates[0:4], columns = list(df.columns)+['E'])

In [110]:
df1

                   A         B         C  D  F   E
2020-06-24  0.000000  0.000000  0.273614  5  1 NaN
2020-06-25 -0.956681 -0.909740 -1.095052  5  2 NaN
2020-06-26  0.397187  1.000744  0.542305  5  3 NaN
2020-06-27  1.151664  0.726997  0.274457  5  4 NaN

In [112]:
df1.fillna(value=5)

                   A         B         C  D  F    E
2020-06-24  0.000000  0.000000  0.273614  5  1  5.0
2020-06-25 -0.956681 -0.909740 -1.095052  5  2  5.0
2020-06-26  0.397187  1.000744  0.542305  5  3  5.0
2020-06-27  1.151664  0.726997  0.274457  5  4  5.0

In [114]:
pd.isna(df1)

                A      B      C      D      F     E
2020-06-24  False  False  False  False  False  True
2020-06-25  False  False  False  False  False  True
2020-06-26  False  False  False  False  False  True
2020-06-27  False  False  False  False  False  True

In [116]:
df.mean()

A    0.017108
B   -0.258671
C    0.147444
D    5.000000
F    3.500000
dtype: float64

In [118]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)

In [120]:
s

2020-06-24    NaN
2020-06-25    NaN
2020-06-26    1.0
2020-06-27    3.0
2020-06-28    5.0
2020-06-29    NaN
Freq: D, dtype: float64

In [121]:
df.sub(s, axis='index')

                   A         B         C    D    F
2020-06-24       NaN       NaN       NaN  NaN  NaN
2020-06-25       NaN       NaN       NaN  NaN  NaN
2020-06-26 -0.602813  0.000744 -0.457695  4.0  2.0
2020-06-27 -1.848336 -2.273003 -2.725543  2.0  1.0
2020-06-28 -5.168201 -5.487042 -4.044293  0.0  0.0
2020-06-29       NaN       NaN       NaN  NaN  NaN

In [122]:
df.apply(np.cumsum)

                   A         B         C   D   F
2020-06-24  0.000000  0.000000  0.273614   5   1
2020-06-25 -0.956681 -0.909740 -0.821439  10   3
2020-06-26 -0.559494  0.091004 -0.279133  15   6
2020-06-27  0.592170  0.818001 -0.004677  20  10
2020-06-28  0.423969  0.330958  0.951031  25  15
2020-06-29  0.102646 -1.552024  0.884664  30  21

In [124]:
df

                   A         B         C  D  F
2020-06-24  0.000000  0.000000  0.273614  5  1
2020-06-25 -0.956681 -0.909740 -1.095052  5  2
2020-06-26  0.397187  1.000744  0.542305  5  3
2020-06-27  1.151664  0.726997  0.274457  5  4
2020-06-28 -0.168201 -0.487042  0.955707  5  5
2020-06-29 -0.321323 -1.882982 -0.066366  5  6

In [125]:
df.apply(lambda x: x.max()- x.min())

A    2.108345
B    2.883727
C    2.050759
D    0.000000
F    5.000000
dtype: float64

In [126]:
s = pd.Series(np.random.randint(0,7, size=10))
s

0    2
1    6
2    0
3    4
4    2
5    0
6    6
7    5
8    4
9    4
dtype: int32

In [127]:
s.value_counts()

4    3
6    2
2    2
0    2
5    1
dtype: int64